:root {
  --bg-color: #e84545;
}

body {
  font-family: "Montserrat";
}

#title {
  background-color: var(--bg-color);
  color: white;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

.icon {
  color: #eb8242;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #5eaaa8;
}

/* navbar button */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1rem;
}

/* download button */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* features section */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* call to Action */
#cta {
  background-color: var(--bg-color);
  color: white;
  padding: 7% 15%;
  text-align: center;
}

/* footer section */
#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon-f {
  margin: 25px 20px;
  color: blue;
}
.social-icon-t {
  margin: 25px 20px;
  color: lightskyblue;
}
.social-icon-i {
  margin: 25px 20px;
  color: palevioletred;
}
.social-icon-e {
  margin: 25px 20px;
  color: purple;
}

.copyright {
  color: indigo;
}

/* Style the rainbow text element. */
.rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  /* Create the gradient. */
  background-image: linear-gradient(
    218deg,
    #f5e4e5 16.666%,
    #e9d4ce 16.666%,
    #f1a48f 33.333%,
    #f0bb92 33.333%,
    #f0c5a3 50%,
    #d3e597 50%,
    #e7f7b5 66.666%,
    #bccdf3 66.666%,
    #becff3 83.333%,
    #f8d9f4 83.333%
  );

  /* Set thee background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

  cursor: pointer;
}

/* Add animation on hover. */
.rainbow-text:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

.cta-heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

/* #testimonial section */
#testimonials {
  text-align: center;
  background-color: #5f6769;
  color: white;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 10px;
}

/* Press section */
#press {
  background-color: #5f6769;
  text-align: center;
  padding-bottom: 3rem;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}
